# Copyright lowRISC contributors (COSMIC project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Build artefacts
build

# Object files
sw/**/*.o
sw/**/out

# Verilator sim outputs
*.fst
*.log
*.dasm
*.csv

# Python environment and cache
__pycache__
.venv
